@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: "Georgia";
  color: #444;
  font-size: 1em;
  line-height: 1.5;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, li, dd,
p, figure, aside,
pre, table, fieldset, hr {
  margin-bottom: 1.5rem;
}

header, section {
  display: block;
  max-width: 36rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: auto;
  margin-bottom: 0;
  box-sizing: border-box;
}

section {
  margin-top: -1px;
  border-top: 1px solid;
  border-color: inherit;
}

section::after {
  content: " ";
  display: block;
  font-size: 0;
  clear: both;
}

nav li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

samp, kbd {
  font-size: .75em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

table {
  border-collapse: collapse;
  border: 2px solid;
  border-color: inherit;
  margin: 0 auto;
}

td, th {
  border: 1px solid;
  border-color: inherit;
  padding: 2px 4px;
  text-align: left;
}

thead th {
  background-color: #ccf;
  text-align: center;
}

th {
  background-color: #eef;
}

dt {
  margin: 0;
  font-weight: bold;
}

dd {
  margin-left: 1.5rem;
}

abbr[title]::after {
  content: " (" attr(title) ")";
  opacity: .5;
}

.instructions > li > ul {
  list-style: disc;
}

/* call-outs */
aside {
  float: right;
  text-align: justify;
  max-width: 50%;
  margin-left: 0.75rem;
  margin-right: -1.5rem;
  padding: 0.75rem;
  background-color: rgba(226, 75, 33, 0.2);
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* disclosures */
details {
  padding: 0 1.5rem;
  width: 100%;
  margin-left: -1.5rem;
  background-color: #eef;
  display: block;
  overflow: auto;
}

details:not([open]) > * {
  display: none;
}

summary {
  cursor: pointer;
  display: block;
  padding: 0.75rem 0.5rem;
  padding-right: 2.5rem;
  margin-left: -1.5rem;
  box-sizing: content-box;
  width: 100%;
}

details[open] > summary {
  margin-bottom: 0.75rem;
}

details:not([open]) > summary {
  display: block;
}

summary:hover {
  background: rgba(255, 255, 255, 0.5);
}

.details-marker {
  display: inline-block;
  margin-right: 0.75rem;
  width: 0;
  font-size: smaller;
}

.details-marker::before {
  content: "ÔûÂ";
}

details[open] > summary > .details-marker {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

details > p:last-child {
  margin-bottom: 0;
}

details > ul {
  list-style: disc;
}

/* figures */
figure {
  text-align: center;
}

section > figure {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

summary + figure {
  width: 37.5%;
  float: right;
  margin-top: -1.5rem;
  margin-left: 0.75rem;
}

figure > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* inline definition lists */
dl.inline dt {
  float: left;
  margin-right: 0.75rem;
  clear: left;
}

dl.inline dt::after {
  content: ":";
}

/* code */
code,
code[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: .8em;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
}

pre[class*="language-"] {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
}

pre > code, pre > code[class*="language-"] {
  padding: 0.75rem 1.5rem;
  margin: 0.75rem 0;
  margin-left: -1.5rem;
  display: block;
  max-width: 80ch;
  width: 100%;
  overflow: auto;
}

/* assessment table */
.marks {
  width: 100%;
  table-layout: fixed;
}

.marks th {
  text-align: left;
}

.marks td:last-child,
.marks thead th:last-child,
.marks tbody tr:last-child th:last-child {
  width: 4em;
  text-align: center;
}

.marks tbody th {
  text-indent: 1em;
}

.marks tr:last-child td:last-child {
  /* total grade */
  background-color: #ccf;
  font-weight: bold;
}

@media (min-width: 700px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 1.25rem;
  }
}
