@charset "utf-8";
//colors
$black: #444;
$title: #000080;
$alert: rgba(226,75,33,.2);
$code: rgba(0,0,0,0.05);
$link: #0080ff;

//dimensions
$em: 16;
$magic: 1.5rem;

@mixin containFloats {
    &::after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
    }
}
@mixin monospace {
    font-size: .8rem;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

//## reset
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    html {
        font-family: serif;
        color: $black;
        font-size: 1em;
        line-height: 1.5;
        font-size: #{16/$em}rem;
    }

//## section layout
    h1, h2, h3, h4, h5, h6, hgroup,
    ul, ol, .instructions > li, dl,
    p, figure, table {
        margin-top: $magic;
        margin-bottom: $magic;

        // fix interactions with half margins
        & + aside,
        & + details,
        & + pre,
        & > aside:first-child,
        & > details:first-child,
        & > pre:first-child {
            margin-top: -$magic/2;
        }
        aside + &,
        details + &,
        summary + &,
        pre + & {
            margin-top: $magic/2;
        }
        & > aside:last-child,
        & > details:last-child,
        & > pre:last-child {
            margin-bottom: -$magic/2;
        }
        aside > &:first-child {
            margin-top: $magic/2;
        }
        aside > &:last-child {
            margin-bottom: $magic/2;
        }
    }

    header, section {
        display: block;
        max-width: 24 * $magic;
        padding: 0 $magic;
        margin: auto;
        margin-bottom: 2 * $magic;
        box-sizing: border-box;

        @include containFloats;
        // fix interactions with half margins
        & > aside:last-child,
        & > details:last-child,
        & > pre:last-child {
            margin-bottom: -$magic/2;
        }
    }

    section {
        margin-top: -1px;
        border-top: 1px solid;
        border-color: inherit;
        clear: both;
    }

    ul {
        padding-left: $magic;
    }
    .instructions {
        padding-left: 0;
    }
    .instructions > li > ul {
        list-style: disc;
    }
    dd {
        margin-left: $magic;
    }

//## text
    a {
        color: $link;
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
        font-weight: lighter;
        font-family: sans-serif;
    }
    h1 {
        font-weight: normal;
        font-size: #{32/$em}rem;
        line-height: 2*$magic;
    }
    h2 {
        font-size: #{24/$em}rem;
        line-height: $magic;
    }
    h3 {
        font-size: #{18/$em}rem;
        line-height: $magic;
    }
    samp, kbd {
        @include monospace;
    }
    abbr[title]::after {
        content: " ("attr(title)")";
        opacity: .5;
    }
    dt {
        font-weight: bold;
    }

//## tables
    table {
        border-collapse: collapse;
        border: 2px solid;
        border-color: inherit;
        margin: 0 auto;
    }
    td, th {
        border: 1px solid;
        border-color: inherit;
        padding: 2px 4px;
        text-align: left;
    }
    thead th {
        background-color: #ccf;
        text-align: center;
    }
    th {
        background-color: #eef;
    }


//## call-outs
    aside {
        padding: $magic/2 $magic;
        width: 100%;
        margin: 0 #{-$magic} $magic/2;
        background-color: $alert;
        overflow: auto;
    }

//## disclosures
    details {
        padding: 0 $magic;
        width: 100%;
        margin: $magic/2 0;
        margin-left: -$magic;
        background-color: #eef;
        display: block;
        clear: both;

        @include containFloats;

        &[open] {
             padding-bottom: $magic/2
        }
        &:not([open]) > * {
            display: none;
        }
        &:not([open]) > summary {
            display: block;
        }

        ul {
            list-style: disc;
        }
    }

    summary {
        cursor: pointer;
        display: block;
        margin: 0 #{-$magic};
        padding: $magic/2 $magic;
        position: relative;

        details[open] > & {
            margin-bottom: $magic/2;
        }

        &:hover {
            background: rgba(255,255,255,.5);
        }
        &:focus {
            outline: none;
            &::after {
                content: "●";
                float: right;
                color: #aad;
            }
            &:hover::after {
                display: none;
            }
        }

        &::before {
            content: "▶";
            position: absolute;
            left: 0;
            line-height: $magic;
            width: $magic;
            font-family: monospace;
            text-align: center;
            details[open] > & {
                transform: rotate(90deg);
            }
        }

        // remove webkit's non-spec implementation
        &::-webkit-details-marker {
            display: none;
        }
    }

//## figures
    figure {
        text-align: center;
        overflow: auto;

        img {
            display: block;
            margin: auto;
            max-width: 100%;
        }
        
        &:not(.right) {
            section > &,
            details > &,
            li > & {
                margin-left: -$magic;
                margin-right: -$magic;

                & > figcaption {
                    margin: 0 $magic;
                }
            }
        }
    }

//## inline definition lists
    dl.inline dt {
        float: left;
        margin-right: $magic/2;
        clear: left;
        &::after {
            content: ":";
        }
    }

//## code
    code,
    code[class*="language-"],
    :not(pre) > code[class*="language-"] {
        @include monospace;
        background: $code;
        padding: 2px .4em;
        border-radius: .3rem;
        text-shadow: 0 1px white;
    }
    pre, pre[class*="language-"] {
        margin: $magic/2 (-$magic);
        padding: $magic/2 $magic;
        background: $code;
        overflow: auto;
    }
    pre > code , pre > code[class*="language-"] {
        padding: 0;
        background: transparent;
        display: block;
        line-height: 1.5rem;
    }

//## assessment table
    .marks {
        width: 100%;
        table-layout: fixed;

        th {
            text-align: left;
        }
        td:last-child,
        thead th:last-child,
        tbody tr:last-child th:last-child  {
            width: 4em;
            text-align: center;
            text-indent: 0;
        }
        tr:last-child td:last-child { // total grade
            background-color: #ccf;
            font-weight: bold;
        }
        td, th {
            text-indent: 1em;
        }
    }

//## adjustments for larger screens
@media (min-width: 400px) {
    aside {
        box-sizing: border-box;
        float: right;
        max-width: calc(#{$magic} + 50%);
        margin: $magic/2 (-$magic) $magic/2 $magic;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .instructions > li > &:first-child {
            // avoid touching details from previous li
            margin-top: $magic/2;
        }
    }
    .right, li > figure {
        max-width: 50%;
        float: right;
        margin: $magic/2 0 $magic/2 $magic;
    }
}
@media (min-width: 26 * $magic) {
    html {
        font-size: 1.125rem;
    }
}
@media (min-width: 900px) {
    html {
        font-size: 1.25rem;
    }
}
