@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: serif;
  color: #444;
  font-size: 1em;
  line-height: 1.5;
  font-size: 1rem;
}

/*section layout */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, .instructions > li, details > ul > li, details > ol > li, dd,
p, figure, table, fieldset, hr {
  margin-bottom: 1.5rem;
}

header, section {
  display: block;
  max-width: 36rem;
  padding: 0 1.5rem;
  margin: auto;
  margin-bottom: 3rem;
  box-sizing: border-box;
}

section {
  margin-top: -1px;
  border-top: 1px solid;
  border-color: inherit;
}

section::after {
  content: " ";
  display: block;
  font-size: 0;
  clear: both;
}

section > ul, ul ul {
  padding-left: 1.5rem;
}

.instructions > li > ul {
  list-style: disc;
}

/*text*/
a {
  color: #0080ff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: lighter;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
  padding-top: 1.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

samp, kbd {
  font-size: .75em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/*tables*/
table {
  border-collapse: collapse;
  border: 2px solid;
  border-color: inherit;
  margin: 0 auto;
}

td, th {
  border: 1px solid;
  border-color: inherit;
  padding: 2px 4px;
  text-align: left;
}

thead th {
  background-color: #ccf;
  text-align: center;
}

th {
  background-color: #eef;
}

dt {
  margin: 0;
  font-weight: bold;
}

dd {
  margin-left: 1.5rem;
}

abbr[title]::after {
  content: " (" attr(title) ")";
  opacity: .5;
}

/* call-outs */
aside {
  padding: 0.75rem 1.5rem;
  width: 100%;
  margin: 0.75rem 0;
  margin-left: -1.5rem;
  background-color: rgba(226, 75, 33, 0.2);
  overflow: auto;
}

/* disclosures */
details {
  padding: 0 1.5rem;
  width: 100%;
  margin: 0.75rem 0;
  margin-left: -1.5rem;
  background-color: #eef;
  display: block;
  overflow: auto;
}

details:not([open]) > * {
  display: none;
}

summary {
  cursor: pointer;
  display: block;
  padding: 1.5rem;
  box-sizing: content-box;
  margin: 0 -1.5rem;
}

details:not([open]) > summary {
  display: block;
}

summary:hover {
  background: rgba(255, 255, 255, 0.5);
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "▶";
  position: absolute;
  line-height: 1.5rem;
  margin-left: -1.5rem;
  width: 1.5rem;
  font-family: monospace;
  text-align: center;
}

details[open] > summary::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

details > ul {
  list-style: disc;
}

/* figures */
figure {
  text-align: center;
  overflow: auto;
}

section > figure, details > figure {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

figure > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* inline definition lists */
dl.inline dt {
  float: left;
  margin-right: 0.75rem;
  clear: left;
}

dl.inline dt::after {
  content: ":";
}

/* code */
code,
code[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: .8em;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
}

pre[class*="language-"] {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
}

pre > code, pre > code[class*="language-"] {
  padding: 0.75rem 1.5rem;
  margin: 0.75rem 0;
  margin-left: -1.5rem;
  display: block;
  max-width: 80ch;
  width: 100%;
  overflow: auto;
  line-height: 1.5rem;
}

/* assessment table */
.marks {
  width: 100%;
  table-layout: fixed;
}

.marks th {
  text-align: left;
}

.marks td:last-child,
.marks thead th:last-child,
.marks tbody tr:last-child th:last-child {
  width: 4em;
  text-align: center;
  text-indent: 0;
}

.marks tr:last-child td:last-child {
  /* total grade */
  background-color: #ccf;
  font-weight: bold;
}

.marks td, .marks th {
  text-indent: 1em;
}

@media (min-width: 400px) {
  aside {
    box-sizing: border-box;
    float: right;
    max-width: calc(1.5rem + 50%);
    margin-left: 1.5rem;
    margin-right: -1.5rem;
    margin-top: -0.75rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  p > figure, figure.right, li > figure {
    max-width: 50%;
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 39rem) {
  details > figure {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  html {
    font-size: 1.125rem;
  }

  summary {
    padding: 0.75rem 1.5rem;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=basic.css.map */